{%extends "base.html" %}

{%block content%}
<div>
	<div class="span-20">
		<div class="span-3">
			{%if firefigther.picture%}<img src='{{firefigther.picture.url}}'></img>{%endif%}
		</div>
		<div class="last">
		<h1>{{firefigther.current_rank}} {{firefigther.first_name}} {{firefigther.first_name_2}} {{firefigther.last_name}} {{firefigther.last_name_2}}</h1>
		<h2>{{firefigther.initials}} #{{firefigther.number}} </h2>
		</div>
	</div>
	<div class="span-20">
		<ul>
			<li>Cedula: <strong>{{firefigther.id_document}}</strong></li>
			<li>Fecha de Nacimiento: <strong>{{firefigther.birth_date}}</strong></li>
			<li>Sexo: <strong>{{firefigther.gender}}</strong></li>
			<li>Sangre: <strong>Factor {{firefigther.blood_type}} Rh {{firefigther.blood_type_rh}}</strong></li>
			
		</ul>
	</div>	
</div>
{%endblock%}
