{%extends "base.html" %}

{%block content%}
<div>
	<div class="span-20">
		<div class="span-3">
			{%if firefighter.picture%}<img src='{{firefighter.picture.url}}'></img>{%endif%}
		</div>
		<div class="last">
		<h1>{{firefighter.current_rank}} {{firefighter.first_name}} {{firefighter.first_name_2}} {{firefighter.last_name}} {{firefighter.last_name_2}}</h1>
		<h2>{{firefighter.initials}} #{{firefighter.number}} </h2>
		</div>
	</div>
	<div class="span-20">
		<ul>
			<li>Cedula: <strong>{{firefighter.id_document}}</strong></li>
			<li>Fecha de Nacimiento: <strong>{{firefighter.birth_date}}</strong></li>
			<li>Sexo: <strong>{{firefighter.gender}}</strong></li>
			<li>Sangre: <strong>Factor {{firefighter.blood_type}} Rh {{firefighter.blood_type_rh}}</strong></li>
			
		</ul>
	</div>	
</div>
{%endblock%}
