<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>C.B.V.U.S.B.</title>
	<link rel="stylesheet" href="/static/css/blueprint/src/reset.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="/static/css/blueprint/src/grid.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="/static/css/blueprint/src/forms.css" type="text/css" media="screen" />
	<!--[if IE]>
		<link rel="stylesheet" href="blueprint/ie.css" type="text/css" media="screen" />
	<![endif]-->	
	<link rel="stylesheet" href="/static/css/blueprint/src/typography.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="/static/css/style.css" type="text/css" media="screen" />
</head>
<body>
<div class="container">
	<div class="span-24" id="header">
		<div class="span-12" id="logo">
			<h1><a href="/">B<span>omberos</span>USB  </a></h1>
			<p>Sistema de Gestión Integral</p>
			<br />
		</div>
		<div class="span-12" id="menu">
			{% block top_menu%}
			<ul>
				<li class="current_page_item"><a href="{% url base %}">Inicio</a></li>
				<li><a href="#">Personal</a></li>
				<li><a href="#">Operaciones</a></li>
				<li><a href="#">Prevención</a></li>
				<li><a href="{% url logout %}">Salir</a></li>
			</ul>
			{% endblock %}	
		</div>
	</div>
	<div class="span-24" id="body">
		<div class="span-6 sidebar" id="left_menu">
			{% block left_menu %}
			&nbsp;			
			{% endblock %}
		</div>
	
		<div class="span-18 last" id="main_content">
			{% block content %}
			&nbsp;
			{% endblock %}
		</div>
	
	</div>
	
	<div class="span-24" id="footer">
		<p>Copyright (c) 2010 BomberosUSB. Todos los derechos reservados.</p>
	</div>
</div>
