{%extends "base.html" %}

{% block top_menu %}
{% endblock %}
{% block left_menu %}
{% endblock %}

{% block content %}

	<div class="span-12 login" id="main_content">
		{% if form.errors %}
			<div class="error">Usuario y/o Contraseña incorrectos</div>
		{% endif %}
		<form method="post" action="{% url django.contrib.auth.views.login %}">{% csrf_token %}
			<div>
				<div class="span-6">
					Nombre de Usuario:
				</div>
				<div class="span-6 last">
					{{ form.username }}
				</div>
			</div>
			<div>
				<div class="span-6">
					Contraseña:
				</div>
				<div class="span-6 last">
					{{ form.password }}
				</div>
			</div>
			
			<input type="submit" value="Entrar" />
		</form>
	</div>

{% endblock %}
